* {
  background-color: black;
  color: white;
}

#startButton {
  font-size: 17px;
  padding: 0.5em 2em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  background: dodgerblue;
  color: white;
  border-radius: 4px;
}
#startButton:hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(30, 144, 255, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}
#startButton:active {
  transform: translate(0em, 0.2em);
}

#submit {
  font-size: 17px;
  padding: 0.5em 2em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  background: dodgerblue;
  color: white;
  border-radius: 4px;
}
#submit:hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(30, 144, 255, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}
#submit:active {
  transform: translate(0em, 0.2em);
}

.gameControlBtns{
  padding: 20px 50px;
  border-color: white;
}

#exitBtn{
  color: white;
  border-color: red;
  padding: 20px 50px;
  background-color: red;
}

#nextButton{
  padding: 20px 50px;
  border-color: white;
}
#startGameButton{
  padding: 20px 50px;
  border-color: white;
  
}